{:highlights [{:id #uuid "69b7ceaa-c03b-41ca-a8d1-1090df61fe82",
               :page 1,
               :position {:bounding {:x1 288.78125,
                                     :y1 475.25,
                                     :x2 738.1726684570312,
                                     :y2 523.71875,
                                     :width 791,
                                     :height 1050.8990888260237},
                          :rects ({:x1 622.0152587890625,
                                   :y1 475.25,
                                   :x2 738.1726684570312,
                                   :y2 489.25,
                                   :width 791,
                                   :height 1050.8990888260237}
                                  {:x1 288.78125,
                                   :y1 492.484375,
                                   :x2 715.7115478515625,
                                   :y2 506.484375,
                                   :width 791,
                                   :height 1050.8990888260237}
                                  {:x1 288.78125,
                                   :y1 509.71875,
                                   :x2 494.9219970703125,
                                   :y2 523.71875,
                                   :width 791,
                                   :height 1050.8990888260237}),
                          :page 1},
               :content {:text "we show how rhetoric around ‘open’ AI is frequently wielded in ways that exacerbate rather than reduce concentration of power in the AI sector"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
